<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-default navbar-static-top">
    <ul class="nav navbar-nav">
        <li><a class="btn btn-info btn-sm" href="{% url 'basic_app:list' %}">Schools</a></li>
        <li><a class="btn btn-info btn-sm" href="{% url 'basic_app:create' %}">New School </a></li>
        <li><a class="btn btn-info btn-sm" href="{% url 'basic_app:student_list' %}">Students</a></li>
        <li><a class="btn btn-info btn-sm" href="{% url 'basic_app:student_create' %}">New Student </a></li>
        <li><a class="btn btn-info btn-sm" href="{% url 'admin:index' %}">Admin</a></li>
    </ul>
</nav>

<div class="container">
{% block body_block %}

{% endblock %}
</div>

</body>
</html>